.container-fluid ul {
  float: right;
}

body{
  margin: 320px 50px 80px 50px;
  color: grey;
//  background-color: #f0a07c;
}

.top-section img{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin:30px;
  width : 200px;
}
.top-section {
  background-color: #706fab;//#4a274f;
  color: white;//lightgrey;
  text-align: center;
  padding-right: 100px;
}

.top-section h1{
  padding-top: 20px;
}

.projects img{
  width: 350px;
}

.one_project{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin:10px;
  width: 370px;
  text-align: center;
}
.navbar-fixed-bottom nav navbar-nav{
  text-align: center;
}
