.container-fluid ul {
  float: right;
}

.container-fluid{
  background-color:  #49274a;
}

body{
  background-color: #f4decb;
}

.nav navbar-nav{
  background-color:  #49274a;
  color: #f4decb;
}

.main-bar-content{
  color: #f4decb;
}
.bottom-bar{
  color: #f4decb;
}
.info-section img{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 30px;
  width : 200px;
}
.info-section {
  background-color: #94618e;//#4a274f;
  color: #f8eee7;
  text-align: center;
  margin: 50px 0 0 0;
}

.info-section h1{
  padding-top: 20px;
}

.main_section{
  padding: 0px 50px 80px 50px;
  color: #49274a;//grey;
  background-color: #f4decb;//#f0a07c;
}

h2{
  text-align: center;
}
.projects img{
  width: 350px;
  border: 1px solid #ddd;
}

.one_project{
  background-color: #f8eee7;//white;
  border: 1px solid darkgrey;//#ddd;
  border-radius: 4px;
  padding: 5px;
  padding-top: 10px;
  margin: 10px;
  width: 370px;
  text-align: center;
}

.one_project a{
  padding: 0px;
  margin: 0px;
}

.navbar-fixed-bottom nav navbar-nav{
  text-align: center;
}

.bottom-bar{
  padding-top: 20px;
  text-align: center;
}

a img{
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#edu{
  text-decoration: underline;
  color: black;
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .projects img{
    width: 300px;
  }
  .one_project{
    width: 320px;
  }
}
